# Supabase CLI configuration
# This repo expects you to install the Supabase CLI:
# https://supabase.com/docs/guides/cli

project_id = ""

[api]
port = 54321
schemas = ["public", "storage"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
shadow_port = 54320
major_version = 15

[studio]
port = 54323

[inbucket]
port = 54324

[auth]
site_url = "http://localhost:3000"
additional_redirect_urls = [
  "http://localhost:3000/api/auth/callback"
]

[storage]
file_size_limit = "50MiB"

[edge_runtime]
port = 54325

[analytics]
enabled = false
